html, body {
    height: 100%;
}

/*头部开始*/
.bigBackground {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: black;
    opacity: 0.6;
    z-index: 1;
    position: fixed;
}

.imageBackground {
    width: 100%;
    height: 100%;
    background-image: url("../img/12.jpg");
    z-index: -1;
    background-size: cover;
    position: fixed;
}

.login-button {
    width: 1.53rem;
    height: 0.54rem;
    background-color: #fa1b51;
    position: fixed;
    z-index: 2;
    margin-top: 7%;
    margin-left: 70%;
    border-radius: 0.5rem;
    line-height: 0.54rem;
    text-align: center;
}

.login-button p {
    font-family: PingFang-SC-Bold;
    font-size: 0.28rem;
    color: #ffffff;
}

.main1 {
    width: 4.38rem;
    height: 3.4rem;
    background-color: #ffffff;
    border-radius: 10px;
    opacity: 0.42;
    z-index: 1;
    position: fixed;
    left: 0;
    right: 0;
    margin: 5.31rem auto;
}

.main2 {
    width: 5.07rem;
    height: 3.49rem;
    background-color: #ffffff;
    border-radius: 10px;
    opacity: 0.41;
    z-index: 2;
    position: fixed;
    left: 0;
    right: 0;
    margin: 4.81rem auto;
}

.main3 {
    width: 5.61rem;
    height: 3.62rem;
    background-color: #ffffff;
    border-radius: 10px;
    z-index: 2;
    position: fixed;
    left: 0;
    right: 0;
    margin: 4.36rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main3-float {
    width: 4.03rem;
    height: 2.83rem;
    /*background: lightpink;*/
    position: fixed;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}

.iphone {
    width: 100%;
    height: 0.5rem;
    /*background: lightgoldenrodyellow;*/
    display: flex;
    justify-content: space-between;
}

.iphone-circle {
    width: 0.5rem;
    height: 0.5rem;
    background-color: #fa1b51;
    border-radius: 50%;
    text-align: center;
}

.iphone-circle i {
    color: #ffffff;
    font-family: "iconfont";
    font-size: 0.3rem;
    line-height: 0.5rem;
}
.passCirl {
    width: 0.21rem;
    height: 0.21rem;
    background: green;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 0.21rem;
}
.iphone-input {
    width: 3.27rem;
    height: 0.47rem;
    border: solid 2px #fa1b51;
    border-radius: 0.5rem;
    padding: 3px 8px;
    font-family: PingFang-SC-Bold;
    font-size: 0.2rem;
    /*
    color: #000000;
    */
    outline: none;
    display: flex;
    justify-content: space-between;

}
.forgerPass {
    width: 3.27rem;
    height: 0.2rem;
    /*background: lightpink;*/
    display:flex;
    margin-top: -0.4rem;
    margin-left: 0.7rem;
    line-height: 0.2rem;
    justify-content: space-evenly;
}
.forgetPass span{
    font-family: PingFang-SC-Bold;
    font-size: 0.18rem;
    color: #000000;
    opacity: 0.6;
}
.forgerPass i{
    font-family:"iconfont";
}
.solidCirle{
    width: 0.18rem;
    height: 0.18rem;
    border-radius:50%;
    border: solid 2px #000000;
    opacity: 0.6;
}
.zhuce {
    width: 2.57rem;
    height: 0.54rem;
    background-color: #fa1b51;;
    border-radius: 0.5rem;
    font-family: PingFang-SC-Bold;
    color: #ffffff;
    text-align: center;
    font-size: 0.28rem;
    line-height: 0.54rem;
}

/* 底部开始 */
.footer {
    width: 4rem;
    height: 1.72rem;
    /*background: lightpink;*/
    position: fixed;
    z-index: 2;
    left: 0;
    right: 0;
    margin: 9.9rem auto;
}
.footer-first {
    width: 2.16rem;
    height: 0.26rem;
    /*background: yellowgreen;*/
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dot{
    width: 0.1rem;
    height: 0.1rem;
    background-color: #fa1b51;
    border-radius:50%;
}
.dot :nth-child(1){
    opacity: 0.6;
}
.dot :nth-child(4){
    opacity: 0.6;
}
.footer-first p{
    font-family: PingFang-SC-Bold;
    font-size: 0.28rem;
    letter-spacing: 0px;
    color: #ffffff;
    line-height: 0.26rem;
}
.footer-second {
    width: 100%;
    height: 1.46rem;
    /* background: palevioletred;*/
    display: flex;
    justify-content: space-between;
}
.second-circle{
    width: 0.8rem;
    height: 0.8rem;
    background-color: #ffffff;
    border-radius:50%;
    margin-top: 0.6rem;
    text-align: center;
    line-height: 0.8rem;
}
.second-circle i {
    font-family: "iconfont";
    font-size: 0.5rem;
    color: #559dff;
}
.second-circle-weixin{
    width: 0.8rem;
    height: 0.8rem;
    background-color: #ffffff;
    border-radius:50%;
    margin-top: 0.6rem;
    text-align: center;
    line-height: 0.8rem;
    font-family: "iconfont";
    font-size: 0.5rem;
    color: #0e9a33;
}
.second-circle-zhifubao{
    width: 0.8rem;
    height: 0.8rem;
    background-color: #ffffff;
    border-radius:50%;
    margin-top: 0.6rem;
    text-align: center;
    line-height: 0.8rem;
    font-family: "iconfont";
    font-size: 0.5rem;
    color: #0cb2ff;
}








