html,body{
    height: 100%;
}
/*头部开始*/
.bigBackground{
    width: 100%;
    height: 100%;
    background-size:cover;
    background-color: black;
    opacity: 0.6;
    z-index: 1;
    position: fixed;
}
.imageBackground {
    width: 100%;
    height: 100%;
    background-image: url("../img/12.jpg");
    z-index: -1;
    background-size: cover;
    position: fixed;
}
.login-button {
    width: 1.53rem;
    height: 0.54rem;
    background-color: #fa1b51;
    position: fixed;
    z-index: 2;
    top: 0.5rem;
    right: 0.5rem;
    border-radius: 0.5rem;
    line-height: 0.54rem;
    text-align: center;
}
.login-button p{
    font-family: PingFang-SC-Bold;
    font-size: 0.28rem;
    color: #ffffff;
}
.main1 {
    width: 4.38rem;
    height: 3.62rem;
    background-color: #ffffff;
    border-radius: 10px;
    opacity: 0.42;
    z-index: 1;
    position: fixed;
    left: 0;
    right: 0;
    margin: 5.31rem auto;
}
.main2 {
    width: 5.07rem;
    height: 3.92rem;
    background-color: #ffffff;
    border-radius: 10px;
    opacity: 0.41;
    z-index: 2;
    position: fixed;
    left: 0;
    right: 0;
    margin: 4.81rem auto;
}
.main3 {
    width: 5.61rem;
    height: 4.16rem;
    background-color: #ffffff;
    border-radius: 10px;
    z-index: 2;
    position: fixed;
    left: 0;
    right: 0;
    margin: 4.36rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main3-float {
    width: 4.03rem;
    height: 3.37rem;
    /*background: lightpink;*/
    position: fixed;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}
.false {
    width: 2rem;
    height: 0.22rem;
    /*background: black;*/
    color: #ff0c3a;
    line-height: 0.22rem;
    text-align: center;
    display: flex;
}
.false img {
    width: 0.21rem;
    height: 0.21rem;
}
.main3-float .iphone:nth-child(2){
    margin-top: -12px;
}
.iphone {
    width: 100%;
    height: 0.5rem;
    /*background: lightgoldenrodyellow;*/
    display: flex;
    justify-content: space-between;
}
.iphone-circle{
    width: 0.5rem;
    height: 0.5rem;
    background-color: #fa1b51;
    border-radius:50%;
    text-align: center;
}
.iphone-circle i {
    color: #ffffff;
    font-family: "iconfont";
    font-size: 0.3rem;
    line-height: 0.5rem;
}
.iphone-input {
    width: 3.27rem;
    height: 0.47rem;
    border: solid 2px #fa1b51;
    border-radius: 0.5rem;
    padding: 3px 8px;
    font-family: PingFang-SC-Bold;
    font-size: 0.2rem;
    /*
    color: #000000;
    */
    outline: none;
    display: flex;
    justify-content: space-between;
}
.passCirl {
    width: 0.21rem;
    height: 0.21rem;
    background: green;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 0.21rem;
}
.zhuce {
    width: 2.57rem;
    height: 0.54rem;
    background-color: #fa1b51;
    border-radius: 0.5rem;
    font-family: PingFang-SC-Bold;
    color: #ffffff;
    text-align: center;
    font-size: 0.28rem;
    line-height: 0.54rem;
}



