body,html{
    padding-bottom: 1rem;
    padding-top: 0.91rem;
}
.container {
    width: 100%;
    height: 100%; /* auto */
    min-height: 1px;
    margin: 0 auto;
    background-color: #efeded;
}

/* 头部开始*/
#header {
    width: 100%; /*7.5rem*/
    height: 0.91rem;
    position: fixed;
    z-index: 2;
    top: 0;
}
/* 顶栏 */
.topBar {
    width: 100%;
    height: 100%;
    background-color: #fa1b51;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
#topBar:before {
    content: "";
    display: block;
    width: 0.42rem;
}

/* 搜索框*/
.searchBox {
    width: 5rem;
    height: 0.42rem;
    background: #ffffff;
    border-radius: 0.21rem;
    margin-top: 0.26rem;
}

/* 扫描栏*/
.scanBox {
    width: 0.42rem;
    height: 0.42rem;
    background: #ffffff;
    border-radius: 50%;
    margin-left: 0.34rem;
    margin-top: 0.26rem;
}

.scan {
    line-height: 0.42rem;
    font-family: "iconfont";
    margin-left: 0.1rem;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
}

.search {
    width: 0.29rem;
    height: 0.29rem;
    /*
    background: red;
    */
    margin-top: 0.07rem;
    float: left;
    margin-left: 0.2rem;
    font-family: "iconfont";
    color: rgba(0, 0, 0, 0.6);
}

.input {
    width: 3.8rem;
    height: 0.25rem;
    /*
    background: red;
    */
    float: left;
    border: none; /* 去边框 */
    margin-top: 0.07rem;
}

.input:focus {
    text-decoration: none;
}

.camera {
    width: 0.33rem;
    height: 0.25rem;
    float: left;
    margin-top: 0.07rem;
    margin-left: 0.14rem;
    /*
    background: red;
    */
    font-family: "iconfont";
    color: rgba(0, 0, 0, 0.6);
}

/* 头部结束 */
/* 轮播图开始 */
#banner {
    width: 7.5rem;
    height: 4.24rem;
    box-shadow: 0rem 0rem 2rem 0rem rgba(239, 190, 0, 0.72);
    top: 0.3rem;
    /*
    background: #16b0dc;
    */
    margin: 0 auto;
    position: relative;
}

#imageBox {
    width: 7.02rem;
    height: 3.97rem;
    margin: 0 auto;
    background-color: pink;
    position: relative;
}

.bannerItem {
    width: 7.02rem;
    height: 3.97rem;
    /*
    background-color: #cccccc;
    */
    position: absolute;
    left: 0;
    top: 0;

}

.bannerItem img { /* 图片行内块元素 */
    display: block;
    width: 7.02rem;
    height: 3.97rem;
}

.bannerItem li.active {
    z-index: 1;
}

#pageBox {
    width: 1.1rem;
    height: 0.13rem;
    /*background: #83c44e;*/
    position: absolute;
    top: 0.26rem;
    left: 0.63rem;
    z-index: 99;
    display: flex;
    justify-content: space-between;
}

#pageBox li {
    width: 0.13rem;
    height: 0.13rem;
    border-radius: 50%;
    background: #fff;
}

#pageBox .active {
    background: #fa1b51;
}

/* 轮播图结束 */
/*  菜单开始 */
.category {
    width: 6.53rem;
    height: 3.38rem;
    /*background: blue;*/
    margin: 0.75rem auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.category-box {
    width: 1.48rem;
    height: 1.59rem;
    /*background: pink;*/
    margin-bottom: 0.21rem;
}

.category img {
    width: 1.18rem;
    height: 1.18rem;
    display: block;
    margin: 0 auto;
}

.category p {
    width: 1.12rem;
    height: 0.2rem;
    font-family: PingFang-SC-Medium;
    font-size: 0.2rem;
    color: #070607;
    line-height: 0.2rem;
    text-align: center;
    margin: 0.2rem 0 0 0.18rem;
}

/*  菜单结束 */
/* 限时抢购开始 */
.flashSale {
    width: 3.83rem;
    height: 1.39rem;
    background: yellow;
    position: relative;
    margin: 0.62rem auto 0;
    line-height: 1.39rem;
    /*
    margin: 0.62rem 0 0 1.83rem;
    */
}

#xianshi {
    width: 3.83rem;
    height: 0.36rem;
    background: pink;
}

.dots {
    width: 0.36rem;
    height: 0.08rem;
    background: blue;
    margin-bottom: 0.14rem;
    margin-left: 0.32rem;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0.14rem;
}

.dot {
    width: 0.08rem;
    height: 0.08rem;
    border-radius: 50%;
    background-color: #85cbc8;
}

.xianshi {
    display: block;
    width: 0.46rem;
    height: 0.23rem;
    font-family: PingFang-SC-Medium;
    text-align: center;
    line-height: 0.46rem;
    font-size: 0.024rem;
    color: #000302;
    position: absolute;
    margin-bottom: 3.83rem;
    margin-left: 0.96rem;
}

.tubiao {
    width: 0.36rem;
    height: 0.36rem;
    /*
    background: red;
    */
    /*
    float: left;
    */
    position: absolute;
    font-family: "iconfont";
    color: #119994;
    margin: 0 auto;
}

.qianggou {
    display: block;
    width: 0.46rem;
    height: 0.23rem;
    font-family: PingFang-SC-Medium;
    text-align: center;
    line-height: 0.46rem;
    font-size: 0.024rem;
    color: #000302;
    margin-bottom: 3.83rem;
    margin-right: 0.97rem;
}

/*限时抢购开始*/
.flash {
    width: 7.02rem;
    height: 1.8rem;
}

.flash-title-box {
    width: 7.02rem;
    height: 0.4rem;
    color: #000000;
    display: flex;
    justify-content: center;
    margin-top: 0.62rem;
}

.flash-content {
    width: 3.18rem;
    height: 0.4rem;
    display: flex;
    justify-content: space-between;
}

.flash-dot-box {
    width: 0.43rem;
    height: 0.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flash-dot {
    width: 0.13rem;
    height: 0.13rem;
    background-color: #85cbc8;
    border-radius: 50%;
}

.flash-title {
    width: 1.88rem;
    height: 0.4rem;
    font-size: 16px;
    color: #000000;
    line-height: 0.33rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flash-title i {
    width: 0.24rem;
    height: 0.24rem;
    display: block;
    font-family: "iconfont";
    line-height: 0.24rem;
    text-align: center;
    color: #85cbc8;
}

.flash-class {
    width: 7.02rem;
    height: 0.4rem;
    font-size: 13px;
    display: flex;
    justify-content: center;
    margin-top: 0.25rem;
}

.flash-class-item {
    width: 4.4rem;
    height: 0.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fb4384;
}

.flash-class-color {
    color: rgba(0, 0, 0, 0.6);
}

.flash-time {
    width: 7.02rem;
    height: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.25rem;
}

.flash-time-item {
    width: 3.06rem;
    height: 0.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flash-time-item > li {
    width: 0.33rem;
    height: 0.4rem;
    background-image: linear-gradient(
            #ffb400,
            #ffb400),
    linear-gradient(
            #ffff00,
            #ffff00);
    font-size: 16px;
    color: #ffffff;
    line-height: 0.4rem;
    text-align: center;
}

.flash-time-item > li.flash-time-itemback {
    background-image: linear-gradient(
            #ffb400,
            #ffb400),
    linear-gradient(
            #ffff00,
            #ffff00);
}

.flash-img-box {
    width: 7.02rem;
    height: 2.12rem;
    margin: 0.6rem auto;

}

.flash-left {
    width: 3.38rem;
    height: 2.12rem;
    float: left;
    border-radius: 8px;
    position: relative;
}
.flash-right {
    width: 3.38rem;
    height: 2.12rem;
    float: right;
    border-radius: 8px;
    position: relative;
}

.flash-left img {
    width: 100%;
    display: block;
}

.flash-right img {
    width: 100%;
    display: block;
}

.flash-img-title-box {
    width: 1.17rem;
    height: 1.93rem;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 0.2rem;
}

.flash-img-title {
    width: 1.9rem;
    height: 0.85rem;
    /*
    background: #ffac13;
    */
    text-align: center;
    margin-top: 0.51rem;
    z-index: 1;
}

.flash-img-title-p1 {
    width: 1.9rem;
    height: 0.23rem;
    font-family: PingFang-SC-Medium;
    font-size: 0.24rem;
    letter-spacing: 1px;
    color: #f6f8f7;
}

.flash-img-title-p2 {
    width: 1.9rem;
    height: 18px;
    font-family: PingFang-SC-Medium;
    font-size: 0.18rem;
    letter-spacing: 1px;
    color: #fafbfb;
    margin-top: 0.3rem;
}

.flash-button {
    width: 1.17rem;
    height: 0.4rem;
    border-radius: 0.2rem;
    background-color: #ffb400;
    position: absolute;
    bottom: 0.27rem;
    left: 0.6rem;
    text-align: center;
    line-height: 0.4rem;
    z-index: 1;
}

.flash-button p {
    color: #f4fbf8;
    font-size: 12px;
}

.flash-img-title-box2 {
    width: 1.17rem;
    height: 1.93rem;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 0.2rem;
}

/*限时抢购结束*/
/* 每日推荐开始 */
.recommend {
    width: 7.02rem;
    height: 10.26rem;
    margin-top: 0.34rem;
    background-color: #efeded;
}
.recommend-title {
    width: 5rem;
    height: 0.72rem;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.reco {
    width: 1.6rem;
    height: 0.29rem;
    font-family: PingFang-SC-Medium;
    font-size: 0.3rem;
    letter-spacing: 0.09rem;
    color: #fa1b51;
}

.recommend-dot {
    width: 0.13rem;
    height: 0.13rem;
    background-color: #ff0000;
    border: solid 3px #fa1b51;
    border-radius: 50%;
}

.diary {
    width: 5rem;
    height: 0.21rem;
    /*background: black;*/
    position: absolute;
    bottom: 0;
    font-family: SanFranciscoDisplay-Regular;
    font-size: 0.3rem;
    line-height: 0.21rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0.02rem;
    color: #fa1b51;
}

.recommend-bd {
    height: 9.39rem;
    width: 7.02rem;
    padding-top: 0.3rem;
}

.recommend-bd-item {
    width: 7.02rem;
    height: 1.61rem;
    background: #fff;
    position: relative;
    display: flex;
    margin-bottom: 0.26rem;
}

.picture {
    width: 1.67rem;
    height: 1.61rem;
}

.middle {
    width: 3.11rem;
    height: 1.61rem;
    margin-right: 0.3rem; /*左右留白*/
    overflow: hidden;/*单行文本超出部分不换行，省略号表示*/
    text-overflow: ellipsis;
    white-space: nowrap;
}
.diyihang{
    width: 3.11rem;
    height: 0.4rem;
    line-height: 0.29rem;
    text-align: left;
    font-family: PingFang-SC-Bold;
    font-size: 0.3rem;
    letter-spacing: 0.002rem;
    color: #0a090a;
    position: absolute;
    top: 0.01rem;
    left: 1.67rem;
    border-bottom: 1px dashed #a0a0a0;
}
.erhang{
    width: 2.53rem;
    height: 0.24rem;
    font-family: PingFang-SC-Regular;
    font-size: 0.24rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: -1px;
    color: #0a090a;
    position: absolute;
    top: 0.5rem;
    left: 1.67rem;
}
.price{
    width: 3.0rem;
    height: 0.15rem;

    position: absolute;
    top: 0.9rem;
    left: 1.67rem;
    line-height: 0.15rem;
    font-family: PingFang-SC-Regular;
    font-size: 0.2rem;
    letter-spacing: -1px;
    color: #ff0000;
}
.price1{
    width: 1.7rem;
    height: 0.15rem;

    position: absolute;
    top: 0.9rem;
    left: 2.86rem;
    line-height: 0.15rem;
    font-family: PingFang-SC-Regular;
    font-size: 0.2rem;
    font-weight: normal;
    letter-spacing: -1px;
    color: #ffb20c;
}
.last {
    width: 3.11rem;
    height: 0.23rem;
    position: absolute;
    bottom: 0.14rem;
    left: 1.67rem;
    font-size: 0.18rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.last>i {
    font-family: "iconfont";
    width: 0.21rem;
    height: 0.21rem;
    font-size: 0.18rem;

}
.right {
    width: 2.24rem;
    height: 1.61rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.starts {
    width: 2.1rem;
    height: 0.3rem;
    position: absolute;
    top: 0.21rem;
}
.gouwucar {
    display: block;
    width: 0.64rem;
    height: 0.64rem;
    position: absolute;
    bottom: 0.2rem;
    right: 0.26rem;
}
/* 每日推荐结束 */
/* 首页底部开始 */
.footer {
   /*width: 5.64rem;*/
    width: 100%;
    height: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    background: #ffffff;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.footer-item {
    width: 0.63rem;
    height: 0.94rem;
    top: 0.1rem;
}

.footer-item img {
    display: block;
    width: 0.63rem;
    height: 0.6rem;

}

.footer-item p {
    width: 0.63rem;
    height: 0.22rem;
    font-family: PingFang-SC-Bold;
    font-size: 0.22rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: -0.01rem;
    color: #fa1b51;
    opacity: 0.45;
    line-height: 0.22rem;
    text-align: center;
    padding-top: 0.1rem;
}
.footer-item p.active{
    color: #fa1b51;
    opacity: 1;
}
.shouye{

    color: yellow;
}
/* 首页底部结束 #fa1b51*/

